
body{
    text-align: center;
    background-color: rgb(36, 36, 36);
}

button{
    margin-top: 300px;
    font-size: 3rem;
    padding: 20px;
}
.balloon {
    position: absolute;
    width: 120px;
    height: 150px;
    border-radius: 50%;
}

