
body{
    background-color: rgb(36, 36, 36);
}
.balloon {
    position: absolute;
    width: 120px;
    height: 150px;
    border-radius: 50%;
}

/* .balloon1{
background-color: aquamarine;
left: 20%;
}

.balloon2{
background-color: rgb(200, 94, 70);
left: 40%;
} */